.f_section {
    background-image: url(./images/bg.png);
     background-size: cover;
     background-position: center;
     height: 600px;
}

.f_section h1 {
    text-transform: capitalize;
}

.pargflex {
    display: flex;
}

.f_section button {
    background-color: rgb(141, 230, 8) !important;
}
#head-p::after{
    content: "____";
    position: relative;
    top:-25%
}
#head-p::before{
    content: "____";
    position: relative;
    top:-25%
}
nav a{ color: rgb(3, 55, 3);
text-decoration: none;
}
/* nav a:hover{ background-color:  rgb(184, 255, 77);
    color: #ffff;
border-radius: 20px;
padding:6px;} */

.text_section a{color: greenyellow;
text-transform: capitalize; 
text-decoration: none;

}
.text_section a::after{
    content:"→" ;
    
}
.btn{ background-color:  rgb(138, 216, 20);
border-radius: 50px; 

border:  rgb(138, 216, 20);}

.for_section .container{
justify-content: center !important;
margin: 60px;
padding: 20px;

}
 h5{ font-size: 30px;  }

 .div_1 button{ border:3px rgb(184, 255, 77) solid;
    border-radius: 50px; 
    background-color: #ffff;
    color:  rgb(138, 216, 20);;
    }
    .div_2 button{ border:3px rgb(184, 255, 77) solid;
    border-radius: 50%; 
    background-color: #ffff; }

.for_section{
display: flex; flex-direction: column; align-items: center;

}
 @media(max-width:1258px){ 
   .for_section .container{ display: grid;
justify-content: center;
row-gap: 30px; 
align-items: center;
align-content: center;
}

 }
 @media(max-width:1258px){ 
    .div-1{ grid-column: 1/3; 
    justify-content: center;}
 
  }
  @media(max-width:1258px){ 
    .div-2{ display: flex;
  justify-content: space-between !important;
    width:100% !important;
   
    }
 
  }